
.rc-call-note-form
  position absolute
  bottom 0
  left 0
  width 100%
  background #fff
  border-top 1px solid #eee
  opacity .90
.rc-show-note-form
  position absolute
  bottom 2px
  left 2px
.rc-hide-note-form
  position absolute
  bottom 10px
  left 5px
.rc-toolt-tip-card
  z-index 12000 !important
.rc-add-contact-form
  position absolute
  left 0
  width 100%
  background #fff
  height 100%
  top 35px
  bottom 0