@require '../css/box'
body .Adapter_root.Adapter_right
  right 60px
.rc-auth-btn
.call-with-ringccentral-btn
  display inline-block
  vertical-align middle
  font-size .75rem
  line-height .75rem
  padding .5625rem 1rem
  color #333
  border-radius .1875rem
  cursor pointer
  border 1px solid #aaa
  background #fff
.rc-tooltip
  position absolute
  left 0
  top 0
  display none
  z-index 100
  .call-with-ringccentral-btn
    position relative
    &:before
      content ''
      position absolute
      bottom -10px
      left 10px
      border-width 10px 10px 0
      border-style solid
      border-color #aaa transparent
      display block
      width 0
    &:after
      content ''
      position absolute
      bottom -9px
      left 11px
      border-width 9px 9px 0
      border-style solid
      border-color #fff transparent
      display block
      width 0

.animate
  transition all 0.5s

.rc-auth-button-wrap
  text-align right
.rc-auth-wrap
.rc-auth-button-wrap
  width 500px
  padding 10px
  overflow hidden
  position fixed
  z-index 100000
  left 0
  top calc(50% - 80px)
  background #fff
  border-right 3px solid #ff7a59
  box-shadow 0px 0px 5px 1px rgba(0, 0, 0, 0.18)
.rc-dismiss-auth
  cursor pointer
  font-size 16px
  color #777
  &:hover
    color #08c

.rc-auth-frame
.rc-auth-wrap
  width 500px
  background #fff
  height 100%
  top 0
  bottom 0

.rc-msg-wrap
  position fixed
  left -200px
  top 50%
  width 200px
  padding 10px
  background #fff
  border-right 3px solid #ff7a59
  z-index 10000
  box-shadow 0px 0px 5px 1px rgba(0, 0, 0, 0.18)
.rc-msg-enter
  left 0
.rc-msg-type-success
  color #28a745
.rc-msg-type-warn
  color #ffc107

.rc-auth-wrap
  z-index 100000
  padding 0
  border-right 3px solid #ff7a59

.rc-auth-frame
  position absolute
  left 0

.rc-hide-to-side
  left -500px
  padding 0

.rc-contact-panel
  position fixed
  width 400px
  left 0
  top 0
  bottom 0
  z-index 10000
  overflow hidden
  box-shadow 0px 0px 5px 1px rgba(0, 0, 0, 0.18)
  border-right 3px solid #ff7a59

.rc-contact-panel.rc-hide-contact-panel
  left -400px

.rc-close-contact
  font-size 30px
  color #fff
  cursor pointer
  display inline-block
  width 40px
  line-height 40px
  height 40px
  border-radius 40px
  text-align center
  &:hover
    background rgba(255,255,255,.2)

.rc-item-value
.rc-item-label
  padding 5px 0

.rc-item-value
  font-weight bold
.rc-phone-span
  display block
  padding 5px
  color #08c
  cursor pointer
  &:hover
    color #333

.rc-loading
.rc-contact-frame
  position absolute
  left 0
  width 100%
  height 100%
  background #fff

.rc-close-box
  position absolute
  left 0
  top 0
  width 100%
  height 98px
  line-height 90px
  font-size 38px
  color #fff
  z-index 80
  background #2e3f50

.rc-loading
  left 0
  width 100%
  top 110px
  line-height 100px
  text-align center
  font-size 28px
  background #fff
  z-index 200

.rc-contact-panel-loaded
  .rc-loading
    display none